header
	h1 PokéName
	h2 The Pokémon-themed version name generator
	p Source code available on 
		a(href="https://github.com/Mordentware/pokename") Github
div(id="#{childViews.nameGeneratorView.viewId}")
div(id="#{childViews.savedNamesListView.viewId}")
